<!DOCTYPE html>
<html lang="en" ng-app="SignupApp">
<head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="app/css/app.css">

</head>
<body data-ng-controller="SignupCtrl as ctrl" class="ng-cloak" id="background">
<div class="container">
    <div class="jumbotron">
        <h1>Registration<br>
            <small>Hey there, please fill this in!</small>
        </h1>
    </div>
    <form name="signupForm" novalidate ng-submit="ctrl.signup()" action="http://localhost:3000/index.html" method="post">


        <!--EMAIL-->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"
                   class="form-control" ng-model="ctrl.email" required>
            <div class="validation alert-danger" data-ng-show="signupForm.email.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.email.$error.required">
                    <span class="glyphicon glyphicon-alert"> email is mandatory</span>
                </div>
                <div data-ng-show="signupForm.email.$error.email">
                    <span class="glyphicon glyphicon-alert"> Invalid email</span>
                </div>

            </div>
        </div>

        <!--PASSWORD-->
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
                   class="form-control" ng-model="ctrl.password" required>
            <div class="validation alert-danger" data-ng-show="signupForm.password.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.password.$error.required">
                    <span class="glyphicon glyphicon-alert"> password is mandatory</span>
                </div>
                <div data-ng-show="signupForm.password.$error.password">
                    <span class="glyphicon glyphicon-alert"> Invalid password</span>
                </div>

            </div>
        </div>

        <!--NAME-->
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"
                   class="form-control" ng-model="ctrl.signupForm.name" ng-minlength="3" required>
            <div class="validation alert-danger" data-ng-show="signupForm.address.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.address.$error.required">
                    <span class="glyphicon glyphicon-alert"> Name is mandatory</span>
                </div>
                <div data-ng-show="signupForm.address.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Min must be 3 chars</span>
                </div>
            </div>
        </div>

        <!--GENDER-->
        <div class="form-group">
            <label>Gender:</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.gender" value="Male">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.gender" value="Female">Female
                </label>
            </div>
            <div class="validation alert-danger" data-ng-show="signupForm.gender.$pristine || signupForm.$submitted">
                <div data-ng-show="signupForm.gender.$error.required">
                    <span class="glyphicon glyphicon-alert"> Gender is mandatory</span>
                </div>
            </div>
        </div>

        <!--DOB-->
        <div class="form-group">
            <label for="dateOfBirth">Date of birth:</label>
            <input type="date" max="{{ minAge | date:'dd-MM-yyyy'}}" id="dateOfBirth" name="dateOfBirth"
                   class="form-control" ng-model="ctrl.dateOfBirth" required>
            <div class="validation alert-danger" data-ng-show="signupForm.dateOfBirth.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.dateOfBirth.$error.required">
                    <span class="glyphicon glyphicon-alert"> Date of birth is mandatory</span>
                </div>
                <div data-ng-show="signupForm.dateOfBirth.$error.max">
                    <span class="glyphicon glyphicon-alert"> You need to be at least 18 years of age</span>
                </div>

            </div>
        </div>

        <!--ADDRESS-->
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" id="address" name="address"
                   class="form-control" ng-model="ctrl.signupForm.address" ng-minlength="3" required>
            <div class="validation alert-danger" data-ng-show="signupForm.address.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.address.$error.required">
                    <span class="glyphicon glyphicon-alert"> Address is mandatory</span>
                </div>
                <div data-ng-show="signupForm.address.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Min must be 3 chars</span>
                </div>
            </div>
        </div>

        <!--COUNTRY-->
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country"
                   class="form-control" ng-model="ctrl.signupForm.country" ng-minlength="3" ng-maxlength="20" required>
            <div class="validation alert-danger" data-ng-show="signupForm.country.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.country.$error.required">
                    <span class="glyphicon glyphicon-alert"> Country is mandatory</span>
                </div>
                <div data-ng-show="signupForm.country.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Min must be 3 chars</span>
                </div>
                <div data-ng-show="signupForm.country.$error.maxlength">
                    <span class="glyphicon glyphicon-alert"> Exceeded 20 chars</span>
                </div>
            </div>
        </div>

        <!--CONTACT NO-->

        <!--<div ng-app ng-controller="formCtrl">-->
            <!--<form name="myForm" ng-submit="onSubmit()">-->
                <!--<input type="number" ng-model="price" name="price_field"-->
                       <!--ng-pattern="/^[0-9]{1,7}$/" required>-->
                <!--<span ng-show="myForm.price_field.$error.pattern">Not a valid number!</span>-->
                <!--<span ng-show="myForm.price_field.$error.required">This field is required!</span>-->
                <!--<input type="submit" value="submit"/>-->
            <!--</form>-->
        <!--</div>-->

        <div class="form-group">
            <label for="contactNo">Contact no:</label>
            <input type="text" id="contactNo" name="contactNo"
                   class="form-control" ng-model="ctrl.signupForm.contactNo" ng-minlength="3" ng-maxlength="20"
                   ng-pattern="/^[(+)+0+1+2+3+4+5+6+ +7+8+9+0+-]*$/" required>
            <div class="validation alert-danger" data-ng-show="signupForm.contactNo.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.contactNo.$error.required">
                    <span class="glyphicon glyphicon-alert"> Contact number is mandatory</span>
                </div>
                <div data-ng-show="signupForm.contactNo.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Min must be 3 chars</span>
                </div>
                <div data-ng-show="signupForm.contactNo.$error.maxlength">
                    <span class="glyphicon glyphicon-alert"> Exceeded 20 chars</span>
                </div>
                <div data-ng-show="signupForm.contactNo.$error.pattern">
                    <span class="glyphicon glyphicon-alert">Contact no can only have integers and the following chars: ( ) - + </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-success form-control" ng-click="ctrl.signup()" ng-disabled="signupForm.$invalid">Register
            </button>
        </div>
    </form>

    <!--<div class="container" ng-repeat="ctrl.signupForm.userDetails">-->
        <!--{{name}} <br>-->
        <!--{{gender}} <br>-->
        <!--{{dateOfBirth}} <br>-->
        <!--{{country}} <br>-->
    <!--</div>-->

</div>
</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/js/signup.controller.js"></script>

</html>