body {
    /*background-image: url("http://www.intrawallpaper.com/static/images/Silver-Blur-Background-Wallpaper.jpg");*/
    background-image: url("http://www.intrawallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_AgLbDjN.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}




